/* /* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar ul {
 display: flex;
justify-content: space-around;
list-style-type:none;
margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
text-decoration: none;

}
.navbarul a {
  text-decoration: none;
  color: white;
  transition: .1s all ease-out;
 
}
.navbarul a:hover {
  text-decoration: underline;
}
.imglogo{
  width:70px ;
  height: 50px;
  margin-top: 9PX;
  
  box-shadow: 2px grey;
  cursor: pointer;
}
.user-icon {
  height: 40px;
  width: 40px;
 margin-top: 2px;
 box-shadow: 2px 2px 8px rgba(51, 48, 48, 0.2);

} */
/* //login */

/* .nameonnav{
  color: aliceblue;
  font-size: 12px;
  position: absolute;
  left: 93px;
  top: 30px;
  font-weight: bold;
  
} */


/*neww    ------------*/
.containernavv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(210, 196, 196);
  text-decoration: none;
}

.left-items {
  /* Ensure the logo is positioned at the left end */
 
}

.right-items {
  display: flex;
  align-items: center;
}

.right-items li {
  margin-left: 5px; /* Adjust spacing between items */
}
.hi {
  list-style-type:none; /* Remove underline decoration */
}
.imglogo{
  height: 65px;
  width: 110px;
 margin-top: 2px;
 box-shadow: 4px 4px 8px rgba(51, 48, 48, 0.2);
 margin-left: 20px;
 margin-top: 20px;
 margin-bottom: 10px;
 border-radius: 10px;
} 
.user-icon1{
  height: 65px;
  width: 100px;
  filter: drop-shadow(4px 4px 8px rgba(7, 6, 6, 0.1));
  margin-left: 15px;
  margin-right: 1px;
}
.mine{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  
}
.mine1{
  font-size: 30px;
 
}

 .user-customer{
  height: 30px;
  width: 50px;
  margin-right: 5px;
  outline: none;
}
.offerss{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 10px;
}

.supportdiv{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 1px;
  margin-left: 25px;
  
}
.supportdiv{
  color: black;
}
/* second line    ------*/
.navbarul {
  display: flex;
 justify-content: flex-start;

 list-style-type:none;
  background-color: white;
 text-decoration: none;
 padding: 10px;
 
 }
 

 .nameonnav{
  color: #EC5B24;
  font-size: 22px;
  position: absolute;
  left: 153px;
  top: 40px;
  font-weight: bold;
  
}
 .flightpagefirst{
  font-size: 30px;
 
  margin-top: 25px;
  margin-right: 15px;




} 
.user-icon {
  height: 80px;
  width: 90px;
 margin-top: 1px;
 
 


}
.smm{
  display: flex;
  flex-direction: row;
}
.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust this value as needed */
  left: 0;
 
}

.underline:hover::after {
  
  width: 170px;
  height: 7px;
  background-color: #EC5B24;
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
}

